<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>
            <main>

                        <% vehicles.forEach(function(vehicle) { %>
                            <li><a href="<%= vehicle.link %>"><%= vehicle.name %>
                        <% }); %>
            

                <%- body %>
            </main>
            <%- include('../partials/footer') %>
        </div>
    </body>
    </html>

